# Data Preprocessing

In [ ]:
import pandas as pd
import numpy as np
import csv

In [71]:
def preprocess(filepath):
    df = pd.read_csv(filepath)
    attributes = df.columns
    nominalvalues = {}
    
    df = df.replace('N/A', np.NaN)
    # df = df.replace('?', np.NaN)
    for col in df.columns:
        # deal with the $ and ,
        if df[col].dtype == "object":
            df[col] = df[col].str.replace("$", "")
            df[col] = df[col].str.replace(",", "")
            try:
                df[col] = df[col].astype(float)
            except ValueError:
                print("%r is string." %col)
        # deal with missing values
        if sum(pd.isnull(df[col])) != 0 or sum(df[col].isin(["?"])) > 0:
            if df[col].dtype == "object":
                md = df[df[col] != np.NaN][col].mode()[0]
                df[col] = df[col].replace(np.NaN, md)
                
            else:
                mn = df[col].astype(float).mean()
                df[col] = df[col].replace(np.NaN, mn)
        if df[col].dtype == "object":
            nominalvalues[col] = df[col].unique().tolist()
            df[col] = df[col].astype(str)
    
    # generate arff file
    with open(filepath+".arff", "w") as f:
        f.write("@relation %r\n\n" %filepath)
        for attr in attributes:
            if attr in nominalvalues.keys():
                nv = "\",\"".join(nominalvalues[attr])
                nv = "\"" + nv + "\""
                f.write("@attribute " + attr.replace(" ", "_") + " {" + nv +"}\n")
            else:
                f.write("@attribute " + attr.replace(" ", "_") + " numeric\n")
        f.write("\n")
        f.write("@data\n")
        df.to_csv(filepath+".csv", header=False, index=False, quoting=csv.QUOTE_NONNUMERIC)
        with open(filepath+".csv") as nf:
            for line in nf:
                f.write(line)
    f.close()
    nf.close()
    
    return df, nominalvalues

In [72]:
dtpb, dtpb_nom = preprocess("college-salaries/degrees-that-pay-back.csv")
sbct, sbct_nom = preprocess("college-salaries/salaries-by-college-type.csv")
sbr, sbr_nom = preprocess("college-salaries/salaries-by-region.csv")

'Undergraduate Major' is string.
'School Name' is string.
'School Type' is string.
'School Name' is string.
'Region' is string.

# Exploration

In [76]:
dtpb.describe()

,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
count,50.000000,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,44310.000000,74786.00000,69.274000,43408.000000,55988.000000,102138.000000,142766.000000
std,9360.866217,16088.40386,17.909908,12000.779567,13936.951911,20636.789914,27851.249267
min,34000.000000,52000.00000,23.400000,26700.000000,36500.000000,70500.000000,96400.000000
25%,37050.000000,60825.00000,59.125000,34825.000000,44975.000000,83275.000000,124250.000000
50%,40850.000000,72000.00000,67.800000,39400.000000,52450.000000,99400.000000,145500.000000
75%,49875.000000,88750.00000,82.425000,49850.000000,63700.000000,118750.000000,161750.000000
max,74300.000000,107000.00000,103.500000,71900.000000,87300.000000,145000.000000,210000.000000

In [78]:
sbct.describe()

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
count,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000
mean,46068.401487,83932.342007,44250.649351,60373.234201,116275.092937,157705.627706
std,6412.616242,14336.191107,8077.811281,11381.348857,22952.334054,32260.199283
min,34800.000000,43900.000000,22600.000000,31800.000000,60900.000000,87600.000000
25%,42000.000000,74000.000000,39600.000000,53200.000000,100000.000000,138000.000000
50%,44700.000000,81600.000000,44000.000000,58400.000000,113000.000000,157705.627706
75%,48300.000000,92200.000000,46400.000000,65100.000000,126000.000000,165000.000000
max,75500.000000,134000.000000,80000.000000,104000.000000,234000.000000,326000.000000

In [79]:
sbr.describe()

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
count,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000
mean,46253.437500,83934.375000,45253.113553,60614.062500,116496.875000,160442.124542
std,6617.038001,15191.443091,7906.907391,11786.436432,24104.265214,33967.918922
min,34500.000000,43900.000000,25600.000000,31800.000000,60900.000000,85700.000000
25%,42000.000000,73725.000000,40100.000000,53100.000000,99825.000000,138000.000000
50%,45100.000000,82700.000000,45253.113553,59400.000000,113000.000000,160000.000000
75%,48900.000000,93250.000000,47925.000000,66025.000000,129000.000000,171000.000000
max,75500.000000,134000.000000,80000.000000,104000.000000,234000.000000,326000.000000

# sklearn

## degrees-that-pay-back.csv dtpb

In [74]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.cluster import KMeans, AffinityPropagation, AgglomerativeClustering, DBSCAN
from collections import Counter
from sklearn.metrics import confusion_matrix
from sklearn.metrics.cluster import fowlkes_mallows_score

In [ ]:
# TASK: Build a vectorizer / classifier pipeline that filters out tokens
# that are too rare or too frequent
pipeline = Pipeline([
        ('vect', TfidfVectorizer(min_df=3, max_df=0.95)),
        ('clf', LinearSVC(C=1000)),
    ])
# TASK: Build a grid search to find out whether unigrams or bigrams are
# more useful.
# Fit the pipeline on the training set using grid search for the parameters
parameters = {
        'vect__ngram_range': [(1, 1), (1, 2)],
    }
grid_search = GridSearchCV(pipeline, parameters, n_jobs=-1)
grid_search.fit(docs_train, y_train)

In [75]:
dtpb.describe()

,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
count,50.000000,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,44310.000000,74786.00000,69.274000,43408.000000,55988.000000,102138.000000,142766.000000
std,9360.866217,16088.40386,17.909908,12000.779567,13936.951911,20636.789914,27851.249267
min,34000.000000,52000.00000,23.400000,26700.000000,36500.000000,70500.000000,96400.000000
25%,37050.000000,60825.00000,59.125000,34825.000000,44975.000000,83275.000000,124250.000000
50%,40850.000000,72000.00000,67.800000,39400.000000,52450.000000,99400.000000,145500.000000
75%,49875.000000,88750.00000,82.425000,49850.000000,63700.000000,118750.000000,161750.000000
max,74300.000000,107000.00000,103.500000,71900.000000,87300.000000,145000.000000,210000.000000